 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 285px;
}

.u-section-1 .u-text-1 {
  text-shadow: 10px 10px 8px rgba(0,0,0,0.4);
  box-shadow: 10px 10px 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 82px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 157px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }
}

.u-section-1 .u-text-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-1 .u-text-1:hover {
  transform: scale(1.1) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 298px;
}

.u-section-2 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px);
  grid-gap: 21px 21px;
  min-height: 218px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 19px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 19px 0 0;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 180px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(255, 214, 0) !important;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(255, 214, 0) !important;
  }

  .u-section-2 .u-icon-4 {
    color: rgb(255, 214, 0) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1425px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    min-height: 551px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1525px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

.u-section-2 .u-icon-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-2 .u-icon-1:hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-icon-2 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-2 .u-icon-2:hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-icon-3 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-2 .u-icon-3:hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-icon-4 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-2 .u-icon-4:hover {
  transform: scale(1.1) !important;
} .u-section-3 {
  background-image: none;
  min-height: 648px;
}

.u-section-3 .u-group-1 {
  min-height: 588px;
  width: 965px;
  box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.4);
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  margin: 30px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 49px 29px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 26px auto 0 0;
}

.u-section-3 .u-form-1 {
  height: 527px;
  margin: -10px 33px 0 370px;
}

.u-section-3 .u-form-group-2 {
  margin-left: 0;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-form-group-5 {
  margin-left: 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: -452px 545px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
  }

  .u-section-3 .u-form-1 {
    margin-right: 21px;
    margin-left: 358px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 520px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 27px;
  }

  .u-section-3 .u-form-1 {
    margin-right: 0;
    margin-left: 302px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 404px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-left: auto;
  }

  .u-section-3 .u-form-1 {
    width: 480px;
    margin-top: 217px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -421px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-form-1 {
    height: 308px;
    width: 300px;
    margin-top: 221px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -512px;
    margin-left: 20px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 866px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 79px 80px 0;
}

.u-section-4 .u-list-1 {
  margin-top: 66px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 603px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  background-size: cover;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 27px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-position: 50% 50%;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 23px;
}

.u-section-4 .u-text-5 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 27px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 23px;
}

.u-section-4 .u-text-8 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-9 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-10 {
  margin: 27px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-11 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-12 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-13 {
  margin: 27px 0 0;
}

.u-section-4 .u-list-item-5 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 23px;
}

.u-section-4 .u-text-14 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-15 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-16 {
  margin: 27px 0 0;
}

.u-section-4 .u-list-item-6 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 30px 23px;
}

.u-section-4 .u-text-17 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-18 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-19 {
  margin: 27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 497px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 857px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-11 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-14 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-17 {
    font-size: 3rem;
  }
}